
/* body  */
body{
    background-color: rgb(15, 15, 17);
    padding: 0px 10px;
}

/* Top links */
.header{
display: flex;
    background-color: black;
    text-align: center;
    height: 30px;
    justify-content: space-around;
    align-items: center;
 }
 /* link targets */
 .header a{
    color: white;
    border: 1px solid rgb(196, 123, 15);
    border-top: 5px;
    margin: 0px 20px;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
 }
 /* picture inbetween the index page  */
 .pic{
    margin: 5px 0px;
    align-items: center;
 }
  /* leftside word  */
 .word{
    margin: 5px 0px;
    display: flex;
    color: white;
 }

 /* rightsideword */
 .wordi{
    margin: 5px 10px;
    display: flex;
    color: white;
 }
 .thepage{
    display: flex;
 }

 /* contact page on the index */
 .contact{
    background-color: rgb(15, 15, 17);
    color: white;
    text-align: center;
    margin: 0px 90px;
}

/* footer of the index page  */
.footer{
    display: flex;
        background-color: black;
        text-align: center;
        height: 40px;
        align-items: center;
     }
     /* link targets */
     .footer a{
        font-size: 12px;
        color: white;
        border: 1px solid rgb(196, 123, 15);
        border-top: 5px;
        margin: 10px 20px;
        border-radius: 5px;
        padding: 2px;
        text-decoration: none;
     }

     .mycontact{
        display: flex;
     }




/* phone media design  */
     @media (width <= 348px) {
        
/* body  */
body{
    background-color: white;
    padding: 0px;
    width: 348px;
}

/* Top links */
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(8, 8, 17);
    /* text-align: center; */
    height: 20px;
    /* justify-content: space-around; */
    align-items: center;
 }
 /* link targets */
 .header a{
   flex-wrap: wrap;
   display: flex;
    flex-direction: column;
    font-size: 7px;
    color: white;
    border: 2px solid brown;
    border-top: 5px;
    margin: 0px 0px;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
 }
 /* picture inbetween the index page  */
 .pic{
    margin: 0px 0px;
    align-items: center;
    /* width: 9000px; */
align-items: center;
width: 380px;
 }
 .pic .img{
   height: 10px;
   display: grid;
   width: 275px;
 }
  /* leftside word  */
 .word{
   width: 380px;
   font-size: 12px;
   text-align: justify;
   flex-wrap: wrap;
    margin: 0px;
    display: grid;
    color: black;
 }

 /* rightsideword */
 .wordi{
   width: 380px;
   font-size: 12px;
   text-align: justify;
    margin: 0px 0px;
    display: grid;
    /* grid-template-rows: min-content; */
    color: black;
 }
 .thepage{
    display: grid;
display: flexbox;
 }

 /* contact page on the index */
 .contact{
   font-size: 10px;
    background-color: rgb(15, 15, 17);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 0px 25px;
    flex-wrap: wrap;
    width: 400px;
}

.slide .pic {
   display: grid;
   gap: 18px;
   grid-template-columns: repeat(6, 1fr);
   overflow-x: auto;
}
.slide .pic .imageitem{
   width: 400px;
   /* height: 400px; */
   object-fit: cover;

}
/* footer of the index page  */
.footer{
    display: flex;
    flex-wrap: wrap;
        background-color: black;
        text-align: center;
        height: 20px;
        align-items: center;
        margin: -40px -3px;
     }
     /* link targets */
     .footer a{
      flex-direction: column;
        font-size: 7px;
        color: white;
        border: 1px solid rgb(196, 123, 15);
        border-top: 5px;
        margin: 0px 20px;
        border-radius: 5px;
        padding: 0px 10px;
        text-decoration: none;
     }

     .contact{
      margin: -3px -100px;
      width: 380px;
      padding: 0px 50px;
     }
     .mycontact{
        display: grid;
        margin: 0px -2px;
     }
     .contact .moveit{
      padding: 0px 30px;
      width: 380px;
     }

     .contact2 img{
      width: 365px;
     }
     .image1 img{
      width: 380px;
     }
     /* .mycontact .img{
      width: 275px;
     } */
     /* .mycontact .image1{
      margin: 0px -10px;
      width: 275px;
     } */

}
    